.step-form .form-group{
    margin-bottom: 18px;
}

.step-form .form-group label.control-label{
    font-size: 14px;
    margin-bottom: 2px;
}

.step-form .form-group .form-control{
    border-radius: 6px;
}


.form-control {
    appearance: auto;
    color: #808385;
}

::placeholder {
    color: #808385;
}


.error{
    font-size: 12px;
    font-style: italic;
}

.eyeicon{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}