<div class="section-full p-5 mt-5 site-bg-gray">
    <div class="container">
        <div class="row">
            <div class="breadcrumb nav">
                <span class="breadcrumb-item">
                    <a class="breadcrumb-link" [routerLink]="['/']"><i class="fa-solid fa-home"></i> Home</a>
                </span>
                <span class="breadcrumb-item">
                    <a class="breadcrumb-link" [routerLink]="['/emaillog']">Notification Log</a>
                </span>
            </div> 
            <div class="col-md-12 mb-2 product-filter-wrap d-flex justify-content-end position-relative m-b20">
                <input class="search" type="search" placeholder="Search Keyword" [(ngModel)]="searchQuery" (input)="searchLogNotification($event)" />
                <div class="submit-btn mb-1" style="margin-left: 20px;">
                    <button class="btn postjob-btn" (click)="onSubmit()"><i></i> Submit</button>
                </div>
            </div>

            <div class="col-md-12">
                <div style="overflow-x: auto;">
                    <table class="table">
                        <tr class="table-header">
                            <th class="cell">#</th>
                            <th class="cell">Contact</th>
                            <th class="cell">Notify Type</th>
                            <th class="cell">Module</th>
                            <th class="cell">Created At</th>
                            <th class="cell">Sent Status</th>
                        </tr>
                        @for (item of logNotifications; track $index) {
                            <tr class="active">
                                <td>{{($index + 1) + (currentPage - 1) * itemsPerPage}}</td>
                                <td>
                                    @if (item.type === 'email' || item.type === 'email_bulk') {
                                        {{ item.to_email }}
                                    }
                                    @if (item.type === 'whatsapp' || item.type === 'whatsapp_bulk') {
                                        {{ item.to_number }}
                                    }
                                </td>
                                <td>{{item.type}}</td>
                                <td>{{item.module}}</td>
                                <td>{{item.created_at}}</td>
                                <td>{{item.sent_status}}</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-8">
                    <p>Showing {{startIndex2}} to {{endIndex2}} of {{filterdRecord}} entries</p>
                </div>
                <div class="col-md-4">
                    <div class="cuspagi" style="float: right;">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item {{isDisabled}}"><button class="page-link" (click)="prevPage()">Previous</button></li>
                                <li class="page-item active" aria-current="page"><a class="page-link">{{currentPage}}</a></li>
                                <li class="page-item {{isDisabled2}}"><button class="page-link text-danger" (click)="nextPage()">Next</button></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
