  <div class="section-full p-t60 mt-5 p-b60 site-bg-gray">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="breadcrumb nav">
                  <span class="breadcrumb-item">
                      <a class="breadcrumb-link" [routerLink]="['/']"><i class="fa-solid fa-home"></i> Home</a>
                  </span>
                  <span class="breadcrumb-item">
                      <a class="breadcrumb-link" [routerLink]="['/job']">Jobs</a>
                  </span>
                  <span class="breadcrumb-item">
                      <a class="breadcrumb-link" [routerLink]="['/job_details', indentId]">{{indentData?.jobTitle}}</a>
                  </span>
                  <span class="breadcrumb-item">
                      <a class="breadcrumb-link" >E&I</a>
                  </span>
              </div>
          </div>
        </div>
        @if(isAllow){
          <div class="row">
            <div class="col-md-12">
              <!-- <h4>Complete E&I (Eligibility & Interest) to apply for this job <a href="job_details/{{indentId}}" class="link-primary">{{indentData?.indentStep1?.jobTitle}}</a></h4> -->
            </div>
            <form [formGroup]="enaditest">
              <div class="step-form">
                <div class="step-boder">

                  @if(submitButton == false){
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <div class="card" style="width: 100%;">
                          <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;"><i class="checkmark">✓</i>
                          </div>
                          <h1>Your profile has been submitted successfully!</h1> 
                          <p>Thank you for submitting the Assessment Form. You will be assessed for the {{indentData?.jobTitle}} role and notified further. </p>
                          <p>Click <a routerLink="/applieddetails/{{indentId}}" class="link-primary">here</a> to view your job application status.</p>
                        </div>
                      </div>
                    </div>
                  }

                @if(submitButton){
                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <div class="form-heading-div" style="background-color: #cfd9e6;">
                        <!-- <h4 class="text-white">{{ selectedEandi?.title }}</h4> -->
                        <!-- <h4 class="text-white">Complete E&I (Eligibility & Interest) to apply for the job, <a href="job_details/{{indentId}}" class="text-black">{{indentData?.indentStep1?.jobTitle}}</a></h4> -->
                        <!-- <p><b>Category: </b>
                          <ng-container *ngFor="let cat of selectedEandi?.category; let i = index">
                            <span>{{ cat }}</span><span *ngIf="i < selectedEandi?.category.length - 1">, </span>
                          </ng-container>
                        </p> -->
                        <h4 class="text-black">Welcome to the <b>{{indentData?.jobTitle}}</b> Assessment Form. This form will take 2 minutes of your time. The information captured here is critical to assess your profile against the job opening. Please fill this form accurately. </h4>
                      </div>
                    </div>
    
                    <div class="question-div">

                      <div class="row mb-4">
                        <div class="col-md-12">
                            <div class="form-group" style="margin-bottom: 0;">
                                <label class="control-label">Select the job location you are applying for <span class="text-danger">*</span></label>
                                <p-autoComplete 
                                formControlName="uploadLocation"
                                [dropdown]="true"
                                [forceSelection]="true"
                                [suggestions]="filteredLocation"
                                (completeMethod)="search($event)"
                                placeholder="Search location" 
                                />
                            </div>
                            <div class="text-danger pt-2 error" *ngIf="enaditest.controls.uploadLocation.invalid && (enaditest.controls.uploadLocation.touched || enaditest.controls.uploadLocation.dirty || isFormSubmited3)" >
                                <span *ngIf="enaditest.controls.uploadLocation.errors?.['required']">* This field is required</span>
                            </div>
                        </div>
                      </div>

                      <div class="row" formArrayName="answers">
    
                        <ng-container *ngFor="let question of questions.controls; let i = index" [formGroupName]="i">
                          <div class="col-md-12 questionoptiondiv">
                            <div class="row">
                              @if(selectedEandi.questions[i]?.visibility == true){
                                <div class="col-md-12 mb-3">
                                  <div class="question-heading rounded">
                                    <label class="control-label mb-0">Q. {{ question.get('question')?.value | titlecase}} @if(selectedEandi.questions[i]?.unit){ (In {{selectedEandi.questions[i]?.unit}}) } <span class="text-danger">*</span></label>
                                  </div>
                                </div>
                              }
                              @if(selectedEandi.questions[i]?.fieldType == "generic question"){
                                @if(selectedEandi.questions[i]?.inputType == "mcq"){
                                  <div class="col-md-12 mb-3">
                                    <div class="options-div">
                                      @for(option of selectedEandi.questions[i]?.options; track $index){
                                        <label>
                                          {{ 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[$index] }}: 
                                          <input type="radio" style="cursor: pointer;" [formControlName]="'answer'" [value]="option.option"> {{ option.option }}
                                        </label>
                                        <br>
                                      }
                                      <div class="text-danger pt-2 error" *ngIf="question.get('answer')?.invalid && (question.get('answer')?.touched || question.get('answer')?.dirty || isFormSubmited3)">
                                        <span *ngIf="question.get('answer')?.errors?.['required']">* This field is required</span>
                                      </div>
                                    </div>
                                  </div>
                                }
                                @if(selectedEandi.questions[i]?.inputType == "msq"){
                                  <div class="col-md-12 mb-3">
                                    <div class="options-div">
                                      @for(option of selectedEandi.questions[i]?.options; track $index){
                                        <label>
                                          {{ 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[$index] }}: 
                                          <input type="checkbox" style="cursor: pointer;" (change)="onCheckboxChange($event, i, option.option)"> {{ option.option }}
                                        </label>
                                        <br>
                                      }
                                      <div class="text-danger pt-2 error" *ngIf="question.get('answer')?.invalid && (question.get('answer')?.touched || question.get('answer')?.dirty || isFormSubmited3)">
                                        <span *ngIf="question.get('answer')?.errors?.['required']">* This field is required</span>
                                      </div>
                                    </div>
                                  </div>
                                }
                                @if(selectedEandi.questions[i]?.inputType == "nq"){
                                  <div class="col-md-12 mb-3">
                                    <div class="options-div">
                                      <input type="number" class="form-control" [formControlName]="'answer'" placeholder="Enter your answer">
                                      <div class="text-danger pt-2 error" *ngIf="question.get('answer')?.invalid && (question.get('answer')?.touched || question.get('answer')?.dirty || isFormSubmited3)">
                                        <span *ngIf="question.get('answer')?.errors?.['required']">* This field is required</span>
                                      </div>
                                    </div>
                                  </div>
                                }
                                @if(selectedEandi.questions[i]?.inputType == "ddq"){
                                  <div class="col-md-12 mb-3">
                                    <div class="options-div">
                                      <select class="form-control" formControlName="answer">
                                        <option value="">Select Your Answer</option>
                                        @for(option of selectedEandi.questions[i]?.options; track $index){
                                          <option value="{{ option.option }}">{{ option.option }}</option>
                                        }
                                      </select>
                                      <div class="text-danger pt-2 error" *ngIf="question.get('answer')?.invalid && (question.get('answer')?.touched || question.get('answer')?.dirty || isFormSubmited3)">
                                        <span *ngIf="question.get('answer')?.errors?.['required']">* This field is required</span>
                                      </div>
                                    </div>
                                  </div>
                                }
                                @if(selectedEandi.questions[i]?.inputType == "diq"){
                                  <div class="col-md-12 mb-3">
                                    <div class="options-div">
                                      <input type="date" class="form-control" placeholder="Enter your answer" [formControlName]="'answer'">
                                      <div class="text-danger pt-2 error" *ngIf="question.get('answer')?.invalid && (question.get('answer')?.touched || question.get('answer')?.dirty || isFormSubmited3)">
                                        <span *ngIf="question.get('answer')?.errors?.['required']">* This field is required</span>
                                      </div>
                                    </div>
                                  </div>
                                }
                              }

                              @if(selectedEandi.questions[i]?.fieldType == "candidate field"){
                                @if(selectedEandi.questions[i]?.inputType == "skill" && selectedEandi.questions[i]?.visibility == true){
                                  <div class="col-md-12 mb-3">
                                    <div class="options-div">
                                      @for(option of selectedEandi.questions[i].options; track $index){
                                        <label>
                                          {{ 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[$index] }}: 
                                          <input type="checkbox" style="cursor: pointer;" (change)="onCheckboxChange($event, i, option.option)"> {{ option.option }}
                                        </label>
                                        <br>
                                      }
                                      <div class="text-danger pt-2 error" *ngIf="question.get('answer')?.invalid && (question.get('answer')?.touched || question.get('answer')?.dirty || isFormSubmited3)">
                                        <span *ngIf="question.get('answer')?.errors?.['required']">* This field is required</span>
                                      </div>
                                    </div>
                                  </div>
                                }
                                @if(selectedEandi.questions[i]?.inputType == "hqs" && selectedEandi.questions[i]?.visibility == true){
                                  <div class="col-md-12 mb-3">
                                    <div class="options-div">
                                      @for(option of selectedEandi.questions[i]?.options; track $index){
                                        <label>
                                          {{ 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[$index] }}: 
                                          <input type="checkbox" style="cursor: pointer;" (change)="onCheckboxChange($event, i, option.option)"> {{ option.option }}
                                        </label>
                                        <br>
                                      }
                                      <div class="text-danger pt-2 error" *ngIf="question.get('answer')?.invalid && (question.get('answer')?.touched || question.get('answer')?.dirty || isFormSubmited3)">
                                        <span *ngIf="question.get('answer')?.errors?.['required']">* This field is required</span>
                                      </div>
                                    </div>
                                  </div>
                                }
                              }
  
                            </div>
                          </div>
                        </ng-container>
    
                      </div>
                    </div>
    
                  </div>
      
                  <div class="col-md-12">
                    <div class="question-div" style="padding: 0 30px;">
                      <p>{{apiMessage3}}</p>
                      <p class="text-danger" style="margin-left: -10px;">{{overallFormValid3}}</p>
                    </div>
                  </div>
    
                    <!-- <p>{{enaditest.value | json}}</p> -->
                  
                  
                    <div class="row mb-3" *ngIf="submitButton">
                      <div class="col-md-12" style="margin-left: 15px;">
                        <div class="submit-btn">
                          @if(isLoading){
                            <button class="btn btn-primary postjob-btn" type="button" disabled><span class="spinner-border spinner-border-sm" aria-hidden="true"></span> <span role="status"> Loading...</span></button>
                          }@else{
                            <button class="btn postjob-btn" (click)="submitAssessment()"><i class="fa-regular fa-paper-plane"></i> SUBMIT</button>
                          }
                        </div>
                      </div>
                    </div>
                  }

                </div>
              </div>
            </form>
          </div>
        }@else{
          <div class="row">
            <div class="alert alert-danger" role="alert">
              <p class="mb-0"><i class="fa-solid fa-triangle-exclamation"></i> Please complete your <span><a routerLink="/myaccount" class="text-primary">profile</a></span> to apply for this Job.</p>
              <!-- @for(message of invalidField; track $index){
                <p>{{message}}</p>
              } -->
            </div>
          </div>
        }
      
    </div>
  </div>

  <p-toast />