<div class="page-content">
    <section class="">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="job-search-header">
                    <div class="d-flex justify-content-center align-items-center job-search-header-inner">
                       <div class="bd-highlight">
                          <div class="form">
                             <i class="fa fa-search"></i>
                             <input type="text" class="form-control form-input" placeholder="Enter Job Title / Company / Keyword">
                          </div>
                       </div>
                       <div class="separated"></div>
                       <div class="bd-highlight">
                          <div class="form">
                             <i class="fa fa-location-dot"></i>
                             <input type="text" class="form-control form-input" placeholder="City, state or zip code">
                          </div>
                       </div>
                       <div class="bd-highlight">
                          <button class="btn btn-search"><i class="fa fa-search"></i> Find Jobs</button>
                       </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center job-search-filter">
                       <div class="btn-group">
                          <button class="btn btn-primary dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                          Date posted
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                             <li><a class="dropdown-item" href="#">Last 24 hours</a></li>
                             <li><a class="dropdown-item" href="#">Last 3 days</a></li>
                             <li><a class="dropdown-item" href="#">Last 7 days</a></li>
                          </ul>
                       </div>
                       <div class="btn-group">
                          <button class="btn btn-primary dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                          Job Type
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                             <li><a class="dropdown-item" href="#">Menu item</a></li>
                             <li><a class="dropdown-item" href="#">Menu item</a></li>
                             <li><a class="dropdown-item" href="#">Menu item</a></li>
                          </ul>
                       </div>
                       <div class="btn-group">
                          <button class="btn btn-primary dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                          Location
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                             <li><a class="dropdown-item" href="#">Menu item</a></li>
                             <li><a class="dropdown-item" href="#">Menu item</a></li>
                             <li><a class="dropdown-item" href="#">Menu item</a></li>
                          </ul>
                       </div>
                       <div class="btn-group">
                          <button class="btn btn-primary dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                          Company
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                             <li><a class="dropdown-item" href="#">Menu item</a></li>
                             <li><a class="dropdown-item" href="#">Menu item</a></li>
                             <li><a class="dropdown-item" href="#">Menu item</a></li>
                          </ul>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- OUR BLOG START -->
     <div class="section-full p-t40  p-b60 site-bg-gray">
     <div class="container">
     <div class="row">
     <div class="col-lg-4 col-md-4 rightSidebar pe-0">
        <div class="side-bar">
           <div class="sidebar-elements search-bx">
              <div class="tmi-jobs-list-wrap">
                 <ul>
                    <li class="active">
                       <div class="srp-jobtuple-wrapper" data-job-id="141220500637">
                          <div class="cust-job-tuple layout-wrapper lay-2 sjw__tuple ">
                             <div class=" row1">
                                <a class="title " title="Manager Web Development Solutions &amp; Management Trainees" href="#" target="_blank" rel="noopener noreferrer">SFMC Sr. (Salesforce Marketing Cloud) Consultant</a>
                                <span class="imagewrap ">
                                <img src="https://tminetwork.com/wp-content/themes/tminetwork-theme/assets/images/TMI_Network.png" class="logoImage" loading="lazy">
                                </span>
                             </div>
                             <div class=" row2">
                                <span class=" comp-dtls-wrap">
                                <a class=" comp-name mw-25" title="Etail Networks" href="#" target="_blank">Etail Networks</a>
                                </span>
                             </div>
                             <div class=" row3">
                                <div class="job-details ">
                                   <span class="sal-wrap ver-line">
                                   <span class="ni-job-tuple-icon ni-job-tuple-icon-srp-rupee sal">
                                   <span title="Not disclosed " class=""><i class="fa-solid fa-indian-rupee-sign"></i> 8 LPA</span>
                                   </span>
                                   </span>
                                   <span class="exp-wrap">
                                   <span class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp">
                                   <span title="0-3 Yrs " class="expwdth"><i class="fa-solid fa-briefcase"></i> 0-3 Yrs</span>
                                   </span>
                                   </span>
                                   <span class="loc-wrap ver-line">
                                   <span class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc">
                                   <span title="Kochi " class="locWdth"><i class="fa-solid fa-location-dot"></i> Hyderabad, Telangana, India (Hybrid)</span>
                                   </span>
                                   </span>
                                </div>
                             </div>
                             <div class=" row6">  
                                <span class="job-post-day ">30+ Days Ago</span>
                             </div>
                          </div>
                       </div>
                    </li>
                 
                    <li>
                       <div class="srp-jobtuple-wrapper" data-job-id="141220500637">
                          <div class="cust-job-tuple layout-wrapper lay-2 sjw__tuple ">
                             <div class=" row1">
                                <a class="title " title="Manager Web Development Solutions &amp; Management Trainees" href="#" target="_blank" rel="noopener noreferrer">Jr. Software Engineer</a>
                                <span class="imagewrap ">
                                <img src="https://tminetwork.com/wp-content/themes/tminetwork-theme/assets/images/TMI_Network.png" class="logoImage" loading="lazy">
                                </span>
                             </div>
                             <div class=" row2">
                                <span class=" comp-dtls-wrap">
                                <a class=" comp-name mw-25" title="Etail Networks" href="#" target="_blank">Etail Networks</a>
                                </span>
                             </div>
                             <div class=" row3">
                                <div class="job-details ">
                                   <span class="exp-wrap">
                                   <span class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp">
                                   <span title="0-3 Yrs " class="expwdth"><i class="fa-solid fa-briefcase"></i> 0-3 Yrs</span>
                                   </span>
                                   </span>
                                   <span class="sal-wrap ver-line">
                                   <span class="ni-job-tuple-icon ni-job-tuple-icon-srp-rupee sal">
                                   <span title="Not disclosed " class=""><i class="fa-solid fa-indian-rupee-sign"></i> Not disclosed</span>
                                   </span>
                                   </span>
                                   <span class="loc-wrap ver-line">
                                   <span class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc">
                                   <span title="Kochi " class="locWdth"><i class="fa-solid fa-location-dot"></i> Kochi</span>
                                   </span>
                                   </span>
                                </div>
                             </div>
                             <div class=" row4">
                                <span class="job-desc ni-job-tuple-icon ni-job-tuple-icon-srp-description"><i class="fa-regular fa-file-lines"></i> Experienced web development experts capable of identifying specific client needs, and c...</span>
                             </div>
                             <div class=" row5">
                                <ul class="tags-gt ">
                                   <li class="dot-gt tag-li ">Development management</li>
                                   <li class="dot-gt tag-li ">Training</li>
                                   <li class="dot-gt tag-li ">Web services</li>
                                   <li class="dot-gt tag-li ">Web development</li>
                                   <li class="dot-gt tag-li ">Customer relationship</li>
                                   <li class="dot-gt tag-li ">Management</li>
                                   <li class="dot-gt tag-li ">Training management</li>
                                   <li class="dot-gt tag-li ">Web technologies</li>
                                </ul>
                             </div>
                             <div class=" row6">  
                                <span class="job-post-day ">30+ Days Ago</span>
                             </div>
                          </div>
                       </div>
                    </li>
                    <li>
                       <div class="srp-jobtuple-wrapper" data-job-id="141220500637">
                          <div class="cust-job-tuple layout-wrapper lay-2 sjw__tuple ">
                             <div class=" row1">
                                <a class="title " title="Manager Web Development Solutions &amp; Management Trainees" href="#" target="_blank" rel="noopener noreferrer">Manager Web Development Solutions &amp; Management Trainees</a>
                                <span class="imagewrap ">
                                <img src="https://tminetwork.com/wp-content/themes/tminetwork-theme/assets/images/TMI_Network.png" class="logoImage" loading="lazy">
                                </span>
                             </div>
                             <div class=" row2">
                                <span class=" comp-dtls-wrap">
                                <a class=" comp-name mw-25" title="Etail Networks" href="#" target="_blank">Etail Networks</a>
                                </span>
                             </div>
                             <div class=" row3">
                                <div class="job-details ">
                                   <span class="exp-wrap">
                                   <span class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp">
                                   <span title="0-3 Yrs " class="expwdth"><i class="fa-solid fa-briefcase"></i> 0-3 Yrs</span>
                                   </span>
                                   </span>
                                   <span class="sal-wrap ver-line">
                                   <span class="ni-job-tuple-icon ni-job-tuple-icon-srp-rupee sal">
                                   <span title="Not disclosed " class=""><i class="fa-solid fa-indian-rupee-sign"></i> Not disclosed</span>
                                   </span>
                                   </span>
                                   <span class="loc-wrap ver-line">
                                   <span class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc">
                                   <span title="Kochi " class="locWdth"><i class="fa-solid fa-location-dot"></i> Kochi</span>
                                   </span>
                                   </span>
                                </div>
                             </div>
                             <div class=" row4">
                                <span class="job-desc ni-job-tuple-icon ni-job-tuple-icon-srp-description"><i class="fa-regular fa-file-lines"></i> Experienced web development experts capable of identifying specific client needs, and c...</span>
                             </div>
                             <div class=" row5">
                                <ul class="tags-gt ">
                                   <li class="dot-gt tag-li ">Development management</li>
                                   <li class="dot-gt tag-li ">Training</li>
                                   <li class="dot-gt tag-li ">Web services</li>
                                   <li class="dot-gt tag-li ">Web development</li>
                                   <li class="dot-gt tag-li ">Customer relationship</li>
                                   <li class="dot-gt tag-li ">Management</li>
                                   <li class="dot-gt tag-li ">Training management</li>
                                   <li class="dot-gt tag-li ">Web technologies</li>
                                </ul>
                             </div>
                             <div class=" row6">  
                                <span class="job-post-day ">30+ Days Ago</span>
                             </div>
                          </div>
                       </div>
                    </li>
                    <li>
                       <div class="srp-jobtuple-wrapper" data-job-id="141220500637">
                          <div class="cust-job-tuple layout-wrapper lay-2 sjw__tuple ">
                             <div class=" row1">
                                <a class="title " title="Manager Web Development Solutions &amp; Management Trainees" href="#" target="_blank" rel="noopener noreferrer">Manager Web Development Solutions &amp; Management Trainees</a>
                                <span class="imagewrap ">
                                <img src="https://tminetwork.com/wp-content/themes/tminetwork-theme/assets/images/TMI_Network.png" class="logoImage" loading="lazy">
                                </span>
                             </div>
                             <div class=" row2">
                                <span class=" comp-dtls-wrap">
                                <a class=" comp-name mw-25" title="Etail Networks" href="#" target="_blank">Etail Networks</a>
                                </span>
                             </div>
                             <div class=" row3">
                                <div class="job-details ">
                                   <span class="exp-wrap">
                                   <span class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp">
                                   <span title="0-3 Yrs " class="expwdth"><i class="fa-solid fa-briefcase"></i> 0-3 Yrs</span>
                                   </span>
                                   </span>
                                   <span class="sal-wrap ver-line">
                                   <span class="ni-job-tuple-icon ni-job-tuple-icon-srp-rupee sal">
                                   <span title="Not disclosed " class=""><i class="fa-solid fa-indian-rupee-sign"></i> Not disclosed</span>
                                   </span>
                                   </span>
                                   <span class="loc-wrap ver-line">
                                   <span class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc">
                                   <span title="Kochi " class="locWdth"><i class="fa-solid fa-location-dot"></i> Kochi</span>
                                   </span>
                                   </span>
                                </div>
                             </div>
                             <div class=" row4">
                                <span class="job-desc ni-job-tuple-icon ni-job-tuple-icon-srp-description"><i class="fa-regular fa-file-lines"></i> Experienced web development experts capable of identifying specific client needs, and c...</span>
                             </div>
                             <div class=" row5">
                                <ul class="tags-gt ">
                                   <li class="dot-gt tag-li ">Development management</li>
                                   <li class="dot-gt tag-li ">Training</li>
                                   <li class="dot-gt tag-li ">Web services</li>
                                   <li class="dot-gt tag-li ">Web development</li>
                                   <li class="dot-gt tag-li ">Customer relationship</li>
                                   <li class="dot-gt tag-li ">Management</li>
                                   <li class="dot-gt tag-li ">Training management</li>
                                   <li class="dot-gt tag-li ">Web technologies</li>
                                </ul>
                             </div>
                             <div class=" row6">  
                                <span class="job-post-day ">30+ Days Ago</span>
                             </div>
                          </div>
                       </div>
                    </li>
                 </ul>
              </div>
           </div>
        </div>
     </div>
     <div class="col-lg-8 col-md-8 ps-0">
       <div class="job-details-wrapper">
         <div class="job-basic-info">
           <div class="job-title-main">
             <h4>SFMC Sr. (Salesforce Marketing Cloud) Consultant</h4>
             <span class="comany-logo">
               <img src="../../assets/images/TMI_Network.png">
             </span>
           </div>
           <div class="job-company-name">
             <h6>TMI Network</h6>
           </div>
           <div class="job-details ">
                                   <span class="sal-wrap ver-line">
                                   <span class="ni-job-tuple-icon ni-job-tuple-icon-srp-rupee sal">
                                   <span title="Not disclosed " class=""><i class="fa-solid fa-indian-rupee-sign"></i> 8 LPA</span>
                                   </span>
                                   </span>
                                   <span class="exp-wrap">
                                   <span class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp">
                                   <span title="0-3 Yrs " class="expwdth"><i class="fa-solid fa-briefcase"></i> 0-3 Yrs</span>
                                   </span>
                                   </span>
                                   <span class="loc-wrap ver-line">
                                   <span class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc">
                                   <span title="Kochi " class="locWdth"><i class="fa-solid fa-location-dot"></i> Hyderabad, Telangana, India (Hybrid)</span>
                                   </span>
                                   </span>
                                </div>
                                <div class="job-post-duration">  
                                <span class="job-post-day ">30+ Days Ago</span>
                             </div>
                             <a class="postjob-btn" href="#">Apply</a>
         </div>
         <div class="job-description">
           <div class="col-lg-12 col-md-12">
              <div class="widget widget-description">
                 <h4 class="twm-s-title">Job Description:</h4>
                 <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
                 <h5 class="twm-s-title">Requirements:</h5>
                 <ul class="description-list-2">
                    <li><i class="feather-check"></i> Must be able to communicate with others to convey information effectively.</li>
                    <li><i class="feather-check"></i> Personally passionate and up to date with current trends and technologies, committed to quality and comfortable working with adult media.</li>
                    <li><i class="feather-check"></i> Rachelor or Master degree level educational background.</li>
                    <li><i class="feather-check"></i> 4 years relevant PHP dev experience.</li>
                    <li><i class="feather-check"></i> Troubleshooting, testing and maintaining the core product software and databases.</li>
                 </ul>
                 <h5 class="twm-s-title">Responsibilities:</h5>
                 <ul class="description-list-2">
                    <li><i class="feather-check"></i> Establish and promote design guidelines, best practices and standards.</li>
                    <li><i class="feather-check"></i> Accurately estimate design tickets during planning sessions.</li>
                    <li><i class="feather-check"></i> Partnering with product and engineering to translate business and user goals into elegant and practical designs. that can deliver on key business and user metrics.</li>
                    <li><i class="feather-check"></i> Create wireframes, storyboards, user flows, process flows and site maps to communicate interaction and design.</li>
                    <li><i class="feather-check"></i> Present and defend designs and key deliverables to peers and executive level stakeholders.</li>
                    <li><i class="feather-check"></i> Execute all visual design stages from concept to final hand-off to engineering.</li>
                 </ul>
              </div>
              <div class="widget">
                 <h5 class="twm-s-title dz-widget-title">Social Profile</h5>
                 <div class="twm-social-tags">
                    <a href="https://www.facebook.com/" class="fb-clr">Facebook</a>
                    <a href="https://in.linkedin.com/" class="link-clr">Linkedin</a>
                    <a href="https://web.whatsapp.com/" class="whats-clr">Whats App</a>
                    <a href="https://in.pinterest.com/" class="pinte-clr">Pinterest</a>
                 </div>
              </div>
              <div class="widget">
                 <h5 class="twm-s-title dz-widget-title">Location</h5>
                 <div class="twm-m-map">
                    <div class="twm-m-map-iframe">
                       <iframe height="310" data-src="https://maps.google.com/maps?q=25.12879927431729,75.82016637907016&amp;hl=es&amp;z=14&amp;output=embed" class=" lazyloaded" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe>
                    </div>
                 </div>
              </div>
           </div>
         </div>
       </div>
</div>
</div>
</div>
</div>
</div>
         
         <!-- CONTENT END -->
            <!-- CONTENT END -->
            <footer class="footer">
                <div class="container">
                   <div class="row align-items-baseline footer-bottom">
                      <div class="col-md-6">
                         <p class="footer-copyright">© 2024 TMI Network. </p>
                      </div>
                      <div class="col-md-6">
                         <div class="footer-privacy"><a class="footer-privacy__link" href="#">Privacy Policy</a><span class="footer-privacy__divider">|</span><a class="footer-privacy__link" href="#">Term and Condision</a></div>
                      </div>
                   </div>
                </div>
             </footer>