<div class="section-full p-t60 mt-5 p-b60 site-bg-gray">
    <div class="container">
        <div class="row">
            @if(loader){
                <div class="fb-item py-5" style="height: 400px;">
                    <div class="first-section-wrapper">
                        <div class="gravatar-title">
                            <div>
                                <ngx-skeleton-loader [theme]="{width: '200px', 'border-radius': '0', height: '15px', 'margin-bottom': '10px'}"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                    <div class="second-section-wrapper" style="margin-top: -30px;">
                        <div class="wrapper">
                            <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ width: '95%', height: '60px', 'border-radius': '10px'}"></ngx-skeleton-loader>
                        </div>
                    </div>
                    <div class="second-section-wrapper" style="margin-top: 10;">
                        <div class="wrapper">
                            <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ width: '95%', height: '60px', 'border-radius': '10px'}"></ngx-skeleton-loader>
                        </div>
                    </div>
                    <div class="second-section-wrapper" style="margin-top: 10px;">
                        <div class="wrapper">
                            <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ width: '95%', height: '60px', 'border-radius': '10px'}"></ngx-skeleton-loader>
                        </div>
                    </div>
                </div>
            }@else{
                <div class="mb-2">
                    @if(isShown){
                        <div class="submit-btn" style="float: right;">
                            <button class="btn postjob-btn" (click)="addUserDiv()"><i class="fa-regular fa-plus"></i> Add user</button>
                        </div>
                    }
                    <div class="submit-btn" style="float: right;  margin-right: 15px;">
                        <button class="btn postjob-btn" (click)="allRoles()" ><i class="fa-regular fa-user"></i> Roles</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-heading" style="margin-bottom: 10px;">
                        <div class="breadcrumb nav">
                            <span class="breadcrumb-item"><a class="breadcrumb-link" [routerLink]="['/']" ><i class="fa-solid fa-home"></i> Home</a></span>
                            <span class="breadcrumb-item"><a class="breadcrumb-link">Dashboard Users</a></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="side-bar bg-white p-3 rounded">
                                <div class="sidebar-elements search-bx">
                                    <div class="form-group mb-4">
                                        <h4 class="section-head-small mb-2"><i class="fa-solid fa-filter"></i> All Filters</h4>
                                        <h4 class="section-head-small reset-filter mb-2" tooltipPosition="top" pTooltip="Reset Filters" ><i class="fa-solid fa-retweet"></i></h4>
                                        <hr class="hr"/>
                                    </div>
                                    <div class="form-group mb-4">
                                        <h4 class="section-head-small mb-2">Name</h4>
                                        <div class="input-group"><input type="text" name="query" class="form-control" placeholder="Search Name"></div>
                                    </div>
                                    <hr class="hr"/>
                                    <div class="form-group mb-4">
                                        <h4 class="section-head-small mb-2">UserName</h4>
                                        <div class="input-group"><input type="text" name="query" class="form-control" placeholder="Search UserName"></div>
                                    </div>
                                    <hr class="hr"/>
                                    <div class="form-group mb-4">
                                        <h4 class="section-head-small mb-2">Email</h4>
                                        <div class="input-group"><input type="text" name="query" class="form-control" placeholder="Search Email"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-9">
                @if(loader2){
                    @for(iteam of getNumberArray(loaderCount); track $index){
                    <div class="fb-item" style="width: 30%; float: left; margin-right: 15px; margin-top: 13px; ">
                        <div class="first-section-wrapper">
                            <div class="gravatar">
                                <ngx-skeleton-loader appearance="circle" [theme]="{ width: '90px', height: '90px', 'border-radius': '10px','margin-top':'12px'}"></ngx-skeleton-loader>
                                <div><ngx-skeleton-loader [theme]="{width: '120px', 'border-radius': '0', height: '10px', 'margin-bottom': '10px'}"></ngx-skeleton-loader></div>
                                <div><ngx-skeleton-loader [theme]="{ width: '120px', 'border-radius': '0', height: '10px' }"></ngx-skeleton-loader></div>
                                <div><ngx-skeleton-loader [theme]="{ width: '170px', 'border-radius': '0', height: '10px' }"></ngx-skeleton-loader></div>
                                <div><ngx-skeleton-loader [theme]="{ width: '120px', 'border-radius': '0', height: '10px' }"></ngx-skeleton-loader></div>
                                <div><ngx-skeleton-loader [theme]="{ width: '120px', 'border-radius': '0', height: '10px' }"></ngx-skeleton-loader></div>
                                <div>
                                    <ngx-skeleton-loader [theme]="{ width: '35px', 'border-radius': '0', height: '20px' }"></ngx-skeleton-loader>
                                    <ngx-skeleton-loader [theme]="{ width: '35px', 'border-radius': '10px', height: '20px', 'margin-left':'10px'}"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </div> 
                    </div>
                    }
                }@else{
                <div class="row mb-2">
                    <div class="product-filter-wrap d-flex justify-content-between position-relative align-items-center ">
                        <span class="">Showing {{fetchedRecord}} E & I Records</span>
                        <form class="woocommerce-ordering tmi-filter-select" method="get">
                            <select class="wt-select-bar-2 selectpicker" (change)="onSelectChange($event)">
                                <option value="10">Show 10</option>
                                <option value="20">Show 20</option>
                                <option value="30">Show 30</option>
                                <option value="40">Show 40</option>
                                <option value="50">Show 50</option>
                                <option value="60">Show 60</option>
                            </select>
                        </form>
                    </div>
                </div>
                @if(totalRecord > 0){
                <div class="step-form rounded">
                    <div class="row">
                        @for(user of profileList; track $index){
                            <div class="col-md-4">

                                <div class="card mb-3 cardbg">
                                    <div class="card-body card-mobile">
                                        <div class="user-avatar-section">
                                            <div class="views mobile-views">
                                                <!-- <span class="viewscard"><i class="fa fa-eye"></i></span> -->
                                                <span class="badge viewscardbadge bg-warning">{{user.role_text}}</span>
                                            </div>
                                            <div class=" d-flex align-items-center flex-column">
                                                @if(user.image !=''){
                                                    <img class="img-fluid rounded my-4 mobile-image" [routerLink]="['/user-profile',user._id]" src="{{baseAPIURL}}{{user.image}}" style="cursor: pointer; height: 100px; width: 100px; object-fit: cover;" alt="User avatar">
                                                }@else{
                                                    <img class="img-fluid rounded my-4 mobile-image" [routerLink]="['/user-profile',user._id]" src="../../../assets/images/user.jpg" style="cursor: pointer; height: 100px; width: 100px; object-fit: cover;" alt="User avatar">
                                                }
                                                <div class="user-info text-center">
                                                    <h5 class="mb-1 mobile-name text-primary" [routerLink]="['/user-profile',user._id]" style="cursor: pointer;">{{user.name}}</h5>
                                                    <h6 class="mb-0 mobile-company" style="font-size: 11px;"><i class="fa-solid fa-at text-danger"></i> {{user.username}}</h6>
                                                </div>
                                                
                                                <div class="additional mobile-views mt-4">
                                                    <p class="mobile-phone mb-0"><i class="fa-solid fa-phone text-danger"></i> {{user.mobile}}</p>
                                                    <p class="mobile-address"><i class="fa-solid fa-envelope text-danger"></i> {{user.email}}</p>
                                                </div>
                                                <div class="additional mobile-views my-3">
                                                    <button (click)="confirmStatusChange(user)" class="btn btn-primary btn-sm" style="margin-right: 5px;"><i [ngClass]="{'fa-eye': user.status === 1, 'fa-eye-slash': user.status === 0}" class="fa"></i> {{ user.status === 1 ? "De-activate" : "Activate" }}</button>
                                                    <button (click)="showEditModal(user)" class="btn btn-primary btn-sm">Edit profile</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <!-- <div class="spoc-card rounded">
                                    <div class="spoc-img">
                                        @if(user.image !=''){
                                            <img src="{{baseAPIURL}}{{user.image}}" alt="user-avatar" class="d-block rounded">
                                        }@else{
                                            <img src="../../../assets/images/user.jpg" alt="user-avatar" class="d-block rounded">
                                        }
                                    </div>
                                    <div class="spoc-details">
                                        <p class="mb-0 text-primary" [routerLink]="['/user-profile',user._id]" style="cursor: pointer;"  tooltipPosition="top" pTooltip="User Name"><i class="fa-solid fa-user text-danger"></i> {{user.name}}</p>
                                        <p class="mb-0" tooltipPosition="top" pTooltip="User UserName"><i class="fa-solid fa-at text-danger"></i> {{user.username}}</p>
                                        <p class="mb-0"><i class="fa-solid fa-envelope text-danger"></i> {{user.email}}</p>
                                        <p class="mb-0"><i class="fa-solid fa-phone text-danger"></i> {{user.mobile}}</p>
                                        <p class="mb-0" tooltipPosition="top" pTooltip="User Role"><i class="fa-regular fa-user text-danger"></i> {{user.role_text}}</p>
                                        <a class="" tooltipPosition="bottom" pTooltip="Edit user" (click)="showEditModal(user)" style="cursor: pointer;"><i class="fa fa-edit text-info"></i></a> &nbsp;
                                        <i [ngClass]="{'fa-eye': user.status === 1, 'fa-eye-slash': user.status === 0}" class="fa" (click)="confirmStatusChange(user)"></i>
                                    </div>
                                </div> -->

                            </div>
                        }           
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-md-8">
                        <p>Showing {{startIndex2}} to {{endIndex2}} of {{filterdRecord}} entries</p>
                    </div>
                    <div class="col-md-4">
                        <div class="cuspagi" style="float: right;">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item {{isDisabled}}"><button class="page-link" (click)="prevPage()">Previous</button></li>
                                    <li class="page-item active" aria-current="page"><a class="page-link" >{{currentPage}}</a></li>
                                    <li class="page-item {{isDisabled2}}"><button class="page-link text-danger" (click)="nextPage()">Next</button></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div> -->
                }@else{
                    <div class="col-md-12">
                        <div class="empty_state rounded">
                            <i class="fa-solid fa-face-surprise"></i>
                            <h3 class="">No records</h3>
                            <p>There are no records found</p>
                        </div>
                    </div>
                }
            }
            </div>


        </div>
    </div>
</div>


<p-dialog header="Add User" [(visible)]="displayModalAdd" [modal]="true" [style]="{width: '50vw'}">
    <form [formGroup]="addNewUser">
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Role <span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="role_id" (change)="onRoleChnage($event)">
                        <option selected value="">Select Role</option>
                        @if(isOption){
                            <option value="1">Super Admin</option>
                            <option value="2">CRCM</option>
                            <option value="3">BU Head</option>
                        }
                        @if(isOption3){
                            <option value="4">MIS Admin</option>
                        }
                        @if(isOption){
                            <option value="5">Central Recruiter</option>
                        }
                        @if(isOption3){
                            <option value="6">Project Manager</option>
                        }
                        @if(isOption || isOption2){
                            <option value="7">Recruiter</option>
                        }
                        <option value="8">Client SPOC</option>
                        <option value="10">Partner Admin - Internal</option>
                        <option value="11">Partner SPOC - Recruiter</option>
                        <option value="12">Partner SPOC - Manager</option>
                    </select>
                    <div class="text-danger pt-2 error" *ngIf="addNewUser.controls.role_id.invalid && (addNewUser.controls.role_id.touched || addNewUser.controls.role_id.dirty || isFormSubmited2)" >
                        <span *ngIf="addNewUser.controls.role_id.errors?.['required']">* This field is required</span>
                    </div>
                </div>
            </div>

            @if(showPartner){
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Partner</label>
                        <select class="form-control" formControlName="partner_id" (change)="getPartnerDetails($event)">
                            <option selected="selected" value="">Select Partner</option>
                            @for(item of partnerList; track $index ){
                                <option value="{{item._id}}">{{item.vendorName}}</option>
                            }
                        </select>
                    </div>
                </div>
            }


            @if(showClient){
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Client</label>
                        <select class="form-control" formControlName="client_id" (change)="getClientDetails($event)">
                            <option selected="selected" value="">Select Client</option>
                            @for(item of clientList; track $index ){
                                <option value="{{item._id}}">{{item.name}}</option>
                            }
                        </select>
                    </div>
                </div>
            }


            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Full Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter Full Name" formControlName="name">
                    <div class="text-danger pt-2 error" *ngIf="addNewUser.controls.name.invalid && (addNewUser.controls.name.touched || addNewUser.controls.name.dirty || isFormSubmited2)" >
                        <span *ngIf="addNewUser.controls.name.errors?.['required']">* This field is required</span>
                        <span *ngIf="addNewUser.controls.name.errors?.['alphaSpace'] && !addNewUser.controls.name.errors?.['required']">Please enter only alphabets'</span>
                        <span *ngIf="addNewUser.controls.name.errors?.['maxlength']">* Maximum 150 character should allowed'</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Username <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter Username" formControlName="username">
                    <div class="text-danger pt-2 error" *ngIf="addNewUser.controls.username.invalid && (addNewUser.controls.username.touched || addNewUser.controls.username.dirty || isFormSubmited2)" >
                        <span *ngIf="addNewUser.controls.username.errors?.['required']">* This field is required</span>
                        <span *ngIf="addNewUser.controls.username.errors?.['alphanumaric'] &&  !addNewUser.controls.username.errors?.['required']">Please enter Alphanumeric values'</span>
                        <span *ngIf="addNewUser.controls.username.errors?.['maxlength']">* Maximum 50 character should allowed</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Email <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter Email Id" formControlName="email" >
                    <div class="text-danger pt-2 error" *ngIf="addNewUser.controls.email.invalid && (addNewUser.controls.email.touched || addNewUser.controls.email.dirty || isFormSubmited2)" >
                        <span *ngIf="addNewUser.controls.email.errors?.['required']">* This field is required</span>
                        <span *ngIf="addNewUser.controls.email.errors?.['emailvalidate'] &&  !addNewUser.controls.email.errors?.['required']">Please enter valid email id'</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Mobile <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter Mobile Number" formControlName="mobile" maxLength="10">
                    <div class="text-danger pt-2 error" *ngIf="addNewUser.controls.mobile.invalid && (addNewUser.controls.mobile.touched || addNewUser.controls.mobile.dirty || isFormSubmited2)" >
                        <span *ngIf="addNewUser.controls.mobile.errors?.['required']">* This field is required</span>
                        <span *ngIf="addNewUser.controls.mobile.errors?.['onlynumber'] &&  !addNewUser.controls.mobile.errors?.['required']">Please enter valid mobile number'</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Company</label>
                    <input type="text" class="form-control" placeholder="Enter Company Name" formControlName="company">
                    <div class="text-danger pt-2 error" *ngIf="addNewUser.controls.company.invalid && (addNewUser.controls.company.touched || addNewUser.controls.company.dirty || isFormSubmited2)" >
                        <span *ngIf="addNewUser.controls.company.errors?.['maxlength']">* Maximum 150 character should be allowed'</span>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Department</label>
                    <input type="text" class="form-control" placeholder="Enter Department" formControlName="department">
                    <div class="text-danger pt-2 error" *ngIf="addNewUser.controls.department.invalid && (addNewUser.controls.department.touched || addNewUser.controls.department.dirty || isFormSubmited2)" >
                        <span *ngIf="addNewUser.controls.department.errors?.['maxlength']">* Maximum 150 character should be allowed'</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Designation <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter Designation" formControlName="designation">
                    <div class="text-danger pt-2 error" *ngIf="addNewUser.controls.designation.invalid && (addNewUser.controls.designation.touched || addNewUser.controls.designation.dirty || isFormSubmited2)" >
                        <span *ngIf="addNewUser.controls.designation.errors?.['required']">* This field is required</span>
                        <span *ngIf="addNewUser.controls.designation.errors?.['maxlength']">* Maximum 150 character should be allowed'</span>
                    </div>
                </div>
            </div>

            <label class="form-check-label">Gender</label>
            <div class="col-md-6">
                <div class="form-check form-check-inline">
                    <input name="collapsible-address-type" class="form-check-input" type="radio" value="Male" name="gender" checked="" formControlName="gender">
                    <label class="form-check-label" for="collapsible-address-type-home">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input name="collapsible-address-type" class="form-check-input" type="radio" value="Female" name="gender" formControlName="gender">
                    <label class="form-check-label" for="collapsible-address-type-office"> Female </label>
                </div>
            </div>
        </div>

        <hr class="hr"/>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Zone <span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="zone" (change)="getStateOnZoneChnage($event)">
                        <option value="">Select Zone</option>
                        <option value="East">East</option>
                        <option value="West">West</option>
                        <option value="North">North</option>
                        <option value="South">South</option>
                    </select>
                    <div class="text-danger pt-2 error" *ngIf="addNewUser.controls.zone.invalid && (addNewUser.controls.zone.touched || addNewUser.controls.zone.dirty || isFormSubmited2)" >
                        <span *ngIf="addNewUser.controls.zone.errors?.['required']">* This field is required</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">State <span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="state" (change)="getCityOnStateChnage($event)">
                        <option value="">Select State</option>
                        @for(state of stateData; track $index){
                            <option value="{{state.name}}">{{state.name}}</option>
                        }
                    </select>
                    <div class="text-danger pt-2 error" *ngIf="addNewUser.controls.state.invalid && (addNewUser.controls.state.touched || addNewUser.controls.state.dirty || isFormSubmited2)" >
                        <span *ngIf="addNewUser.controls.state.errors?.['required']">* This field is required</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">City <span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="city">
                        <option value="">Select City</option>
                        @for(city of cityData; track $index){
                            <option value="{{city.name}}">{{city.name}}</option>
                        }
                    </select>
                    <div class="text-danger pt-2 error" *ngIf="addNewUser.controls.city.invalid && (addNewUser.controls.city.touched || addNewUser.controls.city.dirty || isFormSubmited2)" >
                        <span *ngIf="addNewUser.controls.city.errors?.['required']">* This field is required</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Pincode <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter Pincode" formControlName="pincode" maxlength="6"> 
                    <div class="text-danger pt-2 error" *ngIf="addNewUser.controls.pincode.invalid && (addNewUser.controls.pincode.touched || addNewUser.controls.pincode.dirty || isFormSubmited2)" >
                        <span *ngIf="addNewUser.controls.pincode.errors?.['required']">* This field is required</span>
                        <span *ngIf="addNewUser.controls.pincode.errors?.['pattern'] &&  !addNewUser.controls.pincode.errors?.['required']">Please enter valid pincode'</span>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Address</label>
                    <textarea class="form-control" rows="2" style="height: 80px;" placeholder="Enter your full address" formControlName="address"></textarea>
                    <span *ngIf="addNewUser.controls.address.errors?.['maxlength']" class="text-danger">Maximum 500 character should allowed'</span>

                </div>
            </div>
        </div>
        <!-- {{addNewUser.value | json}} -->
        <p class="text-danger">{{overallFormValid2}}</p>
        <p class="text-info">{{apiMessage2}}</p>
        <div class="row">
            <div class="col-md-12">
                <p id="message"></p>
                <div class="submit-btn">
                    @if(isLoading){
                        <button class="btn btn-primary postjob-btn" type="button" disabled><span class="spinner-border spinner-border-sm" aria-hidden="true"></span> <span role="status"> Loading...</span></button>
                    }@else{
                        <button type="button" (click)="insertUser();" class="btn postjob-btn" type="button"><i class="fa-regular fa-paper-plane"></i> SUBMIT</button>
                    }
                </div>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog header="All Users Roles" [(visible)]="displayModalRole" [modal]="true" [style]="{width: '50vw'}">
    <div class="card flex justify-content-center custom-table">
        <p-organizationChart [value]="roleMaster" class="custom-tdd" />
    </div>
</p-dialog>

<!-- <p-dialog header="User Details" [(visible)]="displayModalUser" [modal]="true" [style]="{width: '50vw'}">

    <div class="card card-action mb-4">
        <div class="card-body">
            <div class="d-flex align-items-start align-items-sm-center gap-4">

                @if(userDetailsData?.image != null && userDetailsData?.image !=''){
                    <img src="{{baseAPIURL}}{{userDetailsData?.image}}" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar">
                }@else{
                    <img src="../../../assets/images/user.jpg" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar">
                }

            </div>

            <div class="row">
                <div class="col-xl-7 col-12">
                <dl class="row mb-0">
                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">Name:</dt>
                    <dd class="col-sm-8">{{userDetailsData?.name}}</dd>

                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">Username:</dt>
                    <dd class="col-sm-8">{{userDetailsData?.username}}</dd>

                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">Email:</dt>
                    <dd class="col-sm-8">{{userDetailsData?.email}}</dd>

                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">Mobile:</dt>
                    <dd class="col-sm-8">{{userDetailsData?.mobile}}</dd>

                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">Role:</dt>
                    <dd class="col-sm-8">{{userDetailsData?.role_text}}</dd>
                </dl>
                </div>
                <div class="col-xl-5 col-12">
                <dl class="row mb-0">
                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">Company:</dt>
                    <dd class="col-sm-8">{{userDetailsData?.company}}</dd>

                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">Department:</dt>
                    <dd class="col-sm-8">{{userDetailsData?.department}}</dd>

                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">Designation:</dt>
                    <dd class="col-sm-8">{{userDetailsData?.designation}}</dd>

                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">Gender:</dt>
                    <dd class="col-sm-8">{{userDetailsData?.gender}}</dd>
                </dl>
                </div>
            </div>

            <hr class="hr">
            <div class="row">
                <div class="col-xl-6 col-12">
                <dl class="row mb-0">
                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">State:</dt>
                    <dd class="col-sm-8">{{userDetailsData?.state}}</dd>

                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">City:</dt>
                    <dd class="col-sm-8">{{userDetailsData?.city}}</dd>

                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">Pincode:</dt>
                    <dd class="col-sm-8">{{userDetailsData?.pincode}}</dd>

                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">Address:</dt>
                    <dd class="col-sm-8">{{userDetailsData?.address}}</dd>

                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">Zone:</dt>
                    <dd class="col-sm-8">{{userDetailsData?.zone}}</dd>
                </dl>
                </div>
                <div class="col-xl-6 col-12">
                <dl class="row mb-0">
                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">Status:</dt>
                    <dd class="col-sm-8">{{ userDetailsData?.status == 1 ? 'Active' : 'In Active' }}</dd>

                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">Last Login Time:</dt>
                    <dd class="col-sm-8">{{userDetailsData?.last_login}}</dd>

                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">Last Login Ip:</dt>
                    <dd class="col-sm-8">{{userDetailsData?.last_login_ip}}</dd>

                    <dt class="col-sm-4 fw-medium mb-3 text-nowrap">Failed Login Count:</dt>
                    <dd class="col-sm-8">{{userDetailsData?.failed_login_count}}</dd>
                </dl>
                </div>
            </div>


        </div>
    </div>
</p-dialog> -->

<p-dialog header="Edit User" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}">
    <form [formGroup]="editUserAccount">
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Role <span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="role_id" (change)="onUserRoleChnage($event)">
                        <option selected="selected" value="">Select Role</option>
                        <option value="1">Super Admin</option>
                        <option value="2">CRCM</option>
                        <option value="3">BU Head</option>
                        <option value="4">MIS Admin</option>
                        <option value="5">Central Recruiter</option>
                        <option value="6">Project Manager</option>
                        <option value="7">Recruiter</option>
                        <option value="8">Client SPOC</option>
                    </select>
                    <div class="text-danger pt-2 error" *ngIf="editUserAccount.controls.role_id.invalid && (editUserAccount.controls.role_id.touched || editUserAccount.controls.role_id.dirty || isFormSubmited4)" >
                        <span *ngIf="editUserAccount.controls.role_id.errors?.['required']">* This field is required</span>
                    </div>
                </div>
            </div>



            @if(showClient){
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Client</label>
                        <select class="form-control" formControlName="client_id" (change)="getEditClientDetails($event)">
                            <option selected="selected" value="">Select Client</option>
                            @for(item of clientList; track $index ){
                                <option value="{{item._id}}">{{item.name}}</option>
                            }
                        </select>
                    </div>
                </div>
            }

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Full Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter full name" formControlName="name">
                    <div class="text-danger pt-2 error" *ngIf="editUserAccount.controls.name.invalid && (editUserAccount.controls.name.touched || editUserAccount.controls.name.dirty || isFormSubmited4)" >
                        <span *ngIf="editUserAccount.controls.name.errors?.['required']">* This field is required</span>
                        <span *ngIf="editUserAccount.controls.name.errors?.['alphaSpace'] &&  !editUserAccount.controls.name.errors?.['required']">Please enter only alphabets'</span>
                        <span *ngIf="editUserAccount.controls.name.errors?.['maxlength']">* Maximum 50 character should allowed'</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Mobile <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter mobile number" formControlName="mobile">
                    <div class="text-danger pt-2 error" *ngIf="editUserAccount.controls.mobile.invalid && (editUserAccount.controls.mobile.touched || editUserAccount.controls.mobile.dirty || isFormSubmited4)" >
                        <span *ngIf="editUserAccount.controls.mobile.errors?.['required']">* This field is required</span>
                        <span *ngIf="editUserAccount.controls.mobile.errors?.['onlynumber'] &&  !editUserAccount.controls.mobile.errors?.['required']">Please enter valid mobile number'</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Company</label>
                    <input type="text" class="form-control" placeholder=" Enter Company Name" formControlName="company">
                    <div class="text-danger pt-2 error" *ngIf="editUserAccount.controls.company.invalid && (editUserAccount.controls.company.touched || editUserAccount.controls.company.dirty || isFormSubmited2)" >
                        <span *ngIf="editUserAccount.controls.company.errors?.['maxlength']">* Maximum 50 character should allowed'</span>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Department</label>
                    <input type="text" class="form-control" placeholder="Enter department" formControlName="department">
                    <div class="text-danger pt-2 error" *ngIf="editUserAccount.controls.department.invalid && (editUserAccount.controls.department.touched || editUserAccount.controls.department.dirty || isFormSubmited2)" >
                        <span *ngIf="editUserAccount.controls.department.errors?.['maxlength']">* Maximum 50 character should allowed'</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Designation <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter designation" formControlName="designation">
                    <div class="text-danger pt-2 error" *ngIf="editUserAccount.controls.designation.invalid && (editUserAccount.controls.designation.touched || editUserAccount.controls.designation.dirty || isFormSubmited4)" >
                        <span *ngIf="editUserAccount.controls.designation.errors?.['required']">* This field is required</span>
                        <span *ngIf="editUserAccount.controls.designation.errors?.['pattern'] &&  !editUserAccount.controls.designation.errors?.['required']" class="text-danger">Allowed: alphabets, spaces, '-', '(', ')'</span>
                        <span *ngIf="editUserAccount.controls.designation.errors?.['maxlength']">* Maximum 50 character should allowed'</span>
                    </div>
                </div>
            </div>



            <label class="form-check-label">Gender</label>
            <div class="col-md-6">
                <div class="form-check form-check-inline">
                    <input name="collapsible-address-type" class="form-check-input" type="radio" value="Male" name="gender" formControlName="gender">
                    <label class="form-check-label" for="collapsible-address-type-home">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input name="collapsible-address-type" class="form-check-input" type="radio" value="Female" name="gender" formControlName="gender">
                    <label class="form-check-label" for="collapsible-address-type-office"> Female </label>
                </div>
            </div>

        </div>

        <hr class="hr"/>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Zone <span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="zone" (change)="getStateOnZoneChnage($event)">
                        <option selected="selected" value="">Select Zone</option>
                        <option value="East">East</option>
                        <option value="West">West</option>
                        <option value="North">North</option>
                        <option value="South">South</option>
                    </select>
                    <div class="text-danger pt-2 error" *ngIf="editUserAccount.controls.zone.invalid && (editUserAccount.controls.zone.touched || editUserAccount.controls.zone.dirty || isFormSubmited4)" >
                        <span *ngIf="editUserAccount.controls.zone.errors?.['required']">* This field is required</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">State <span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="state" (change)="getCityOnStateChnage($event)">
                        <option value="">Select State</option>
                        @for(state of stateData; track $index){
                            <option value="{{state.name}}">{{state.name}}</option>
                        }
                    </select>
                    <div class="text-danger pt-2 error" *ngIf="editUserAccount.controls.state.invalid && (editUserAccount.controls.state.touched || editUserAccount.controls.state.dirty || isFormSubmited4)" >
                        <span *ngIf="editUserAccount.controls.state.errors?.['required']">* This field is required</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">City <span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="city">
                        <option value="">Select City</option>
                        @for(city of cityData; track $index){
                            <option value="{{city.name}}">{{city.name}}</option>
                        }
                    </select>
                    <div class="text-danger pt-2 error" *ngIf="editUserAccount.controls.city.invalid && (editUserAccount.controls.city.touched || editUserAccount.controls.city.dirty || isFormSubmited4)" >
                        <span *ngIf="editUserAccount.controls.city.errors?.['required']">* This field is required</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Pincode <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter Pincode" formControlName="pincode">
                    <div class="text-danger pt-2 error" *ngIf="editUserAccount.controls.pincode.invalid && (editUserAccount.controls.pincode.touched || editUserAccount.controls.pincode.dirty || isFormSubmited4)" >
                        <span *ngIf="editUserAccount.controls.pincode.errors?.['required']">* This field is required</span>
                        <span *ngIf="editUserAccount.controls.pincode.errors?.['pattern'] &&  !editUserAccount.controls.pincode.errors?.['required']">Please enter valid pincode'</span>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Address</label>
                    <textarea class="form-control" rows="2" style="height: 80px;" placeholder="Enter your full address" formControlName="address"></textarea>
                </div>
            </div>

            <!-- <input type="text" formControlName="updateUserId"> -->

        </div>
        <!-- <p>{{editUserAccount.valid | json}}</p>
        <p>{{editUserAccount.value | json}}</p> -->
        <p class="text-danger">{{overallFormValid4}}</p>
        <p class="text-info">{{apiMessage4}}</p>
        <div class="row">
            <div class="col-md-12">
                <p id="message"></p>
                <div class="submit-btn">
                    @if(isLoading){
                        <button class="btn btn-primary postjob-btn" type="button" disabled><span class="spinner-border spinner-border-sm" aria-hidden="true"></span> <span role="status"> Loading...</span></button>
                    }@else{
                        <button class="btn postjob-btn" type="button" (click)="updateUser();"><i class="fa-regular fa-paper-plane"></i> SUBMIT</button>
                    }
                </div>
            </div>
        </div>
    </form>
</p-dialog>

